/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul, li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  text-align: center;
  color: #f44336;
  background-color: #f4433669;
  font-size: 17px;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.title {
  font-weight: 600;
  font-size: 26px;
}

.button1 {
  padding: 0.7rem 1rem;
  outline: none;
  background-color: #f44336;
  border: 0 solid #000;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s linear;
}
.button1:hover {
  color: black;
}
.button1:hover a {
  color: black;
}

@media screen and (max-width: 767px) {
  .button1 {
    padding: 2.5rem 4rem;
    font-size: 20px;
  }

  .button {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1023px) {
  .snip0025 h2 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 1279px) {
  .button {
    width: 10rem !important;
    padding: 20px 10px !important;
    font-size: 16px !important;
    top: 65% !important;
  }
}
.header {
  padding: 0.6rem;
  background-image: linear-gradient(to right, #2196f3, #f44336);
  display: flex;
  justify-content: space-between;
}
.header-title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header-title_text {
  margin-right: 2rem;
  text-transform: uppercase;
}
.header-title_email {
  margin-left: 0.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}
.menu-link {
  margin-left: 1rem;
  color: white;
  transition: all 0.25s linear;
}
.menu-animation {
  position: absolute;
  top: -11px;
  left: 100px;
  transform: translate(-50%, -50%);
}

.menu-link:hover {
  transition: all 0.25s linear;
  color: black;
}

.animation {
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 4px;
}

.lds-ripple div {
  position: absolute;
  border: 3px solid red;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.75s cubic-bezier(0, 0.2, 0.3, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}
@media screen and (max-width: 1279px) {
  .header {
    margin: 0 auto;
    align-items: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .header-title {
    padding-top: 1rem;
  }
}
.user {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
}
.user-logo img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 1rem;
}
.user-list {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-list_text {
  margin-left: 1rem;
}

.user-list:hover .user-hover {
  opacity: 1;
  visibility: inherit;
  height: 22rem;
}
.user-list:hover .user-hover_item {
  height: auto;
  opacity: 1;
}

.user-hover_item {
  height: 0;
  opacity: 0;
}

.user-hover {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
  position: absolute;
  width: 18rem;
  height: 0;
  background-color: #fff;
  top: 2.4rem;
  left: 0;
  border-radius: 10px;
  padding: 1rem;
  z-index: 9;
}
.user-hover_item {
  margin-bottom: 1rem;
}
.user-hover_link:hover {
  color: rgba(255, 0, 0, 0.74);
  font-weight: 500;
}

.user-hover:after {
  content: "";
  width: 18rem;
  height: 2rem;
  background-color: transparent;
  position: absolute;
  top: -20px;
  left: 0;
}

.user-arrow {
  position: relative;
}
.user-arrow:after {
  content: "";
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -20px;
  left: 25px;
  transform: translate(-50%, -50%);
}

.text-field {
  position: relative;
}

.text-field label {
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 10px;
  background-color: #2196f3;
  padding: 3px 3px;
  border-radius: 5px;
  font-size: 12px;
  transform: translateY(-50%);
  color: white;
}

.text-field input {
  padding: 12px;
  display: block;
  width: 20rem;
  font-size: 14px;
  border: 1px solid #6a5af9;
  border-radius: 4px;
  background-color: transparent;
  color: black;
}

@media screen and (max-width: 767px) {
  .user {
    padding: 1rem;
  }

  .user-list {
    font-size: 16px;
  }

  .user-hover {
    height: auto !important;
    width: 35rem;
    top: 5.4rem;
  }
  .user-hover:hover {
    height: auto !important;
  }

  .user-button {
    padding: 0.7rem 1rem;
    outline: none;
    background-color: #f44336;
    border: 0 solid #000;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s linear;
  }
  .user-button:hover {
    color: black;
  }
  .user-button:hover a {
    color: black;
  }
}
@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/decade.ttf");
  font-family: Decade;
}
@media (max-width: 767px) {
  html,
body {
    font-size: 80%;
  }
}
@media (max-width: 640px) {
  html,
body {
    font-size: 60%;
  }
}
@media (max-width: 480px) {
  html,
body {
    font-size: 40%;
  }
}
@media screen and (max-width: 1279px) {
  .page {
    width: 100% !important;
  }

  .nav-panel {
    right: 2% !important;
  }
}
@media screen and (max-width: 767px) {
  .page {
    top: 16.1rem !important;
  }

  .slider {
    display: none;
  }

  .text-field input {
    padding: 5px;
  }
}
.inner,
.nav-panel ul .nav-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

.scene {
  width: 100%;
  height: 50vh;
}

.page {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 10rem;
  left: 0;
  width: 100%;
  height: 50vh;
  transition: transform 0.7s, opacity 0.7s, z-index 0.7s;
  will-change: transform, opacity;
}

.page:nth-child(1) .left {
  background: url("https://res.cloudinary.com/tuanpham/image/upload/v1646235131/oikmcjnrex1xzrsupca2.jpg") no-repeat center center/cover;
  background-size: 100% 100%;
  object-fit: cover;
}

.page:nth-child(1) .right {
  background: url("https://res.cloudinary.com/tuanpham/image/upload/v1646233276/waqj4ypw6faxttqk41pj.png") no-repeat center center/cover;
  background-size: 100% 100%;
}

.page:nth-child(2) .left {
  background: url("https://res.cloudinary.com/tuanpham/image/upload/v1646235131/oikmcjnrex1xzrsupca2.jpg") no-repeat center/cover;
  background-size: 100% 100%;
}

.page:nth-child(2) .right {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg") no-repeat center/cover;
  background-size: 100% 100%;
}

.page:nth-child(3) .left {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg") no-repeat center/cover;
  background-size: 100% 100%;
}

.page:nth-child(3) .right {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg") no-repeat center/cover;
  background-size: 100% 100%;
}

.page:nth-child(4) .left {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-7.jpg") no-repeat center/cover;
  background-size: 100% 100%;
}

.page:nth-child(4) .right {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-8.jpg") no-repeat center/cover;
  background-size: 100% 100%;
}

.page.active {
  z-index: 5;
  transition: transform 0.7s, opacity 0.7s, z-index 0s 0.7s;
}

.page.active .half {
  transform: translateX(0) !important;
  transition: transform 0.7s ease-out;
}

.page.previous {
  opacity: 0.4 !important;
  visibility: visible !important;
  transition: transform 0.7s, opacity 0.7s, z-index 0s;
}

.page.small {
  transform: scale(0.8);
  opacity: 0;
}

.page.small .half {
  transform: translateX(0) !important;
}

.page:nth-child(2) .left {
  transform: translateX(-100%);
}

.page:nth-child(2) .right {
  transform: translateX(100%);
}

.page:nth-child(3) .left {
  transform: translateX(-100%);
}

.page:nth-child(3) .right {
  transform: translateX(100%);
}

.page:nth-child(4) .left {
  transform: translateX(-100%);
}

.page:nth-child(4) .right {
  transform: translateX(100%);
}

.page:nth-child(5) .left {
  transform: translateX(-100%);
}

.page:nth-child(5) .right {
  transform: translateX(100%);
}

.page:nth-child(6) .left {
  transform: translateX(-100%);
}

.page:nth-child(6) .right {
  transform: translateX(100%);
}

.page:nth-child(7) .left {
  transform: translateX(-100%);
}

.page:nth-child(7) .right {
  transform: translateX(100%);
}

.page:nth-child(8) .left {
  transform: translateX(-100%);
}

.page:nth-child(8) .right {
  transform: translateX(100%);
}

.page:nth-child(9) .left {
  transform: translateX(-100%);
}

.page:nth-child(9) .right {
  transform: translateX(100%);
}

.page:nth-child(10) .left {
  transform: translateX(-100%);
}

.page:nth-child(10) .right {
  transform: translateX(100%);
}

.half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  transition: transform 0.7s ease-in;
  will-change: transform;
}

.half.left {
  left: 0;
}

.half.right {
  left: 50%;
}

.half.withText:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.heading {
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3.5rem;
  color: #fff;
  font-family: Decade;
}

.nav-panel {
  position: absolute;
  top: 55%;
  right: 2%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: transform, opacity;
}

.nav-panel.invisible {
  opacity: 0;
  transform: translateY(-50%) scale(0.5);
}

.nav-panel ul {
  list-style-type: none;
}

.nav-panel ul .nav-btn {
  position: relative;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.5rem;
  border: 0.12rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color, transform 0.3s;
  will-change: border-color, transform;
}

.nav-panel ul .nav-btn:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  background-color: #fff;
  opacity: 0;
  transition: transform, opacity 0.3s;
  will-change: transform, opacity;
}

.nav-panel ul .nav-btn.active:after,
.nav-panel ul .nav-btn:hover:after {
  transform: translateX(-50%) translateY(-50%) scale(0.7);
  opacity: 1;
}

.nav-panel ul .nav-btn:hover {
  border-color: yellow;
  transform: scale(1.2);
}

.nav-panel ul .nav-btn:hover:after {
  background-color: yellow;
}

.nav-panel .scroll-btn:focus {
  outline: none;
}

.nav-panel .scroll-btn {
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #fff;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
  transform-origin: 50% 50%;
  transition: border-color 0.3s;
}

.nav-panel .scroll-btn.up {
  top: -1.6rem;
  transform: rotate(-45deg);
}

.nav-panel .scroll-btn.down {
  bottom: -1.2rem;
  transform: rotate(135deg);
}

.nav-panel .scroll-btn:hover {
  border-color: yellow;
}

.check-out {
  z-index: 1000;
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Decade;
  font-size: 1rem;
  text-transform: uppercase;
}

.check-out a {
  color: #ffaaaa;
  text-decoration: none;
  border-bottom: 0.2rem solid;
}

.categories {
  padding: 2rem;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #fefefe;
}
.categories-list {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  width: 100%;
}

.button {
  border: 0 solid #000;
  outline: none;
  width: 5rem;
  padding: 8px 4px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 75%;
  background-color: #f44336;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.25s linear;
}
.button a {
  color: white;
  font-weight: 600;
  transition: all 0.25s linear;
}
.button:hover a {
  color: black;
}

.snip0025 {
  font-family: "Raleway", Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 140px;
  width: 100%;
  background: #000000;
  text-align: center;
  border-radius: 8px;
  height: 100%;
}

.snip0025 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip0025 img {
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  border-radius: 8px;
  object-fit: cover;
}

.snip0025 > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.snip0025 > div::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  background-image: linear-gradient(45deg, #000000 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8));
}

.snip0025 h2 {
  font-weight: 600;
  font-size: 17px;
  position: absolute;
  z-index: 99;
  text-align: right;
  transition: all 0.2s;
  word-spacing: -0.1em;
  top: 0;
  padding: 15px;
  margin: 0;
}

.categories-list_item:hover .snip0025 h2 {
  text-shadow: 0 0 10px #ffffff;
}

.snip0025 .curl {
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(225deg, #ffffff, #f3f3f3 20%, #bbbbbb 38%, #aaaaaa 44%, #888888 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.3));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}

.snip0025 .curl:before,
.snip0025 .curl:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 12%;
  bottom: 6%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
  transform: skew(-10deg) rotate(-6deg);
}

.snip0025:hover > div h2,
.snip0025.hover > div h2 {
  opacity: 1;
  text-shadow: 0 0 0px #ffffff;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip0025:hover > div::before,
.snip0025.hover > div::before {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip0025:hover .button {
  opacity: 1;
  text-shadow: 0 0 0px #ffffff;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip0025:hover .curl,
.snip0025.hover .curl {
  width: 50px;
  height: 50px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* bar */
:root {
  --size: 50px;
  --clr-bg: #272324;
  --clr1: #bbbb88;
  --clr2: #ccc68d;
  --clr3: #eedd99;
  --clr4: #eec290;
  --clr5: #eeaa88;
}

.spinner:nth-child(1) {
  --animation-duration: 1000ms;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.spinner:nth-child(1) .spinner-item {
  width: calc(var(--size) / 12);
  height: 50%;
  background: var(--clr-spinner);
  animation: spinner1 var(--animation-duration) ease-in-out infinite;
}
@keyframes spinner1 {
  50% {
    transform: scaleY(0.25);
  }
}
.spinner:nth-child(1) .spinner-item:nth-child(1) {
  --clr-spinner: var(--clr1);
  animation-delay: calc(var(--animation-duration) / 10 * -3);
}
.spinner:nth-child(1) .spinner-item:nth-child(2) {
  --clr-spinner: var(--clr5);
  animation-delay: calc(var(--animation-duration) / 10 * -1);
}
.spinner:nth-child(1) .spinner-item:nth-child(3) {
  --clr-spinner: var(--clr3);
  animation-delay: calc(var(--animation-duration) / 10 * -2);
}
.spinner:nth-child(1) .spinner-item:nth-child(4) {
  --clr-spinner: var(--clr4);
  animation-delay: calc(var(--animation-duration) / 10 * -1);
}
.spinner:nth-child(1) .spinner-item:nth-child(5) {
  --clr-spinner: var(--clr2);
  animation-delay: calc(var(--animation-duration) / 10 * -3);
}

@media screen and (max-width: 1279px) {
  .categories-list {
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .snip0025 h2 {
    word-spacing: -0.1em;
    font-weight: 400;
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .categories-list {
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .button {
    font-size: 16px !important;
    width: 20rem !important;
    padding: 15px 0px !important;
  }
}
.package {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.course-overplay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.course-image:hover .course-overplay {
  opacity: 1;
}
.course-image:hover .course-button {
  bottom: 30%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 99;
}

.course-button {
  position: absolute;
  bottom: 0;
  transition: all 0.25s linear;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.course-button a {
  color: white;
}

.course {
  padding: 0.6rem;
  background-color: #f7f7ff;
}
.course-list {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.course-item {
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.course-image {
  position: relative;
}
.course-image img {
  z-index: -2;
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}
.course-discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #ffd424;
  padding: 4px;
  border-radius: 5px;
  font-weight: 600;
  color: red;
}
.course-content {
  padding: 1rem;
}
.course-content_text {
  padding: 0.5px;
  background-color: #eaf4fe;
  padding: 7px;
  color: red;
  border-radius: 1rem;
}
.course-content_link {
  margin-top: 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}
.course-content_author {
  display: inline-block;
  margin-top: 0.8rem;
  color: #838ea1;
}
.course-content_price {
  margin-top: 7px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.course-content_discount {
  color: red;
  font-size: 25px;
  margin-right: 10px;
}
.course-content_money {
  color: #838ea1;
  position: relative;
  font-size: 18px;
}
.course-content_money:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #838ea1;
}

@media screen and (max-width: 1279px) {
  .course-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media screen and (max-width: 1023px) {
  .course-list {
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 767px) {
  .course-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .course-content_text,
.course-content_author {
    font-size: 16px;
  }

  .course-content_link {
    padding-top: 1rem;
    font-size: 16px;
    display: block;
  }

  .course-image {
    margin-bottom: 5px;
  }

  .course-discount {
    font-size: 18px;
  }

  .course-button {
    font-size: 20px;
  }
}
.exam {
  padding: 2rem;
  background-color: #fefefe;
}
.exam-list {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.exam-item1,
.exam .exam-item2 {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.exam-left,
.exam .exam-right {
  padding: 1rem;
  max-width: 570px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.788) 0px 2px 8px 0px;
}
.exam-title {
  display: block;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.exam-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exam-item1_content {
  margin-left: 1rem;
}
.exam-item1_title a {
  color: black;
  transition: all 0.25s linear;
}
.exam-item1_title a:hover {
  color: red;
}
.exam-item1_desc {
  display: inline-block;
  padding-top: 7px;
  font-size: 13px;
  color: #77879e;
}
.exam-item2_pdf {
  padding-top: 5px;
  color: red;
}
.exam-item2_text {
  margin-right: 1rem;
}
.exam-item_image img {
  width: 85px;
  height: 45px;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1270px) {
  .exam-left {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1023px) {
  .exam-list {
    flex-direction: column-reverse;
    font-size: 20px;
  }

  .exam-item1_title {
    font-size: 25px;
  }

  .exam-item1_desc {
    font-size: 20px;
  }

  .exam-left {
    margin-right: 0;
  }

  .exam-left,
.exam-right {
    max-width: 100% !important;
    margin-bottom: 2rem;
  }

  .exam-post {
    justify-content: center;
  }

  .exam-title {
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .exam-list {
    padding: 2rem 1rem;
  }

  .exam-item1_content {
    font-size: 16px;
  }

  .exam-item1_title {
    font-size: 16px;
  }

  .exam-item1_desc {
    font-size: 12px;
  }

  .exam-left, .exam .exam-right {
    margin-bottom: 2rem;
  }

  .exam-item1,
.exam .exam-item2 {
    margin-bottom: 1rem;
  }
}
.registration {
  padding-bottom: 4rem;
  background-color: #f7f7ff;
}
.registration-list {
  padding: 2rem;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.registration-item {
  cursor: pointer;
  width: 100%;
  padding: 4rem 3rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 1rem;
  transition: all 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.registration-item_icon {
  font-size: 25px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 2rem;
}
.registration-item_title {
  font-size: 25px;
  color: #233d63;
  margin-bottom: 2rem;
  text-align: center;
}
.registration-item_desc {
  text-align: center;
  color: #61748f;
  font-size: 18px;
}
.registration-item:hover {
  background-color: #f44336dc;
}
.registration-item:hover .registration-item_title,
.registration-item:hover .registration-item_desc {
  color: white;
}

@media screen and (max-width: 1023px) {
  .registration-list {
    grid-template-columns: 1fr;
  }

  .registration-item_title {
    font-size: 35px;
  }

  .registration-item_icon {
    font-size: 40px;
    width: 7rem;
    height: 7rem;
  }

  .registration-item_desc {
    font-size: 23px;
  }
}
.member {
  padding-bottom: 5rem;
  background-color: #fefefe2c;
}
.member-list {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.member-item {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.541) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 2px solid transparent;
  transition: all 0.25s linear;
}
.member-item_image img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.member-item_name {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.member-item_phone {
  color: #717e8b;
  font-size: 16px;
  margin-bottom: 1rem;
}
.member-item_button a {
  color: white;
}
.member-item:hover {
  border: 2px solid #000;
}

@media screen and (max-width: 1023px) {
  .member-list {
    grid-template-columns: 1fr 1fr;
  }

  .member-item {
    padding: 1rem;
  }

  .member-item_image img {
    width: 7rem;
    height: 7rem;
  }

  .member-item_name {
    font-size: 30px;
  }

  .member-item_phone {
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  .member-list {
    grid-template-columns: 1fr;
  }

  .member-item {
    padding: 4rem 8rem 2rem 8rem;
  }

  .member-item_image img {
    width: 12rem;
    height: 12rem;
  }

  .member-item_name {
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .member-item_phone {
    color: #717e8b;
    font-size: 16px;
    margin-bottom: 4rem;
  }
}

/*# sourceMappingURL=app.css.map */
