.footer {
  padding: 7rem 4rem;
  background-color: #282A35;
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &-item1 {
    cursor: pointer;
    &_title {
      cursor: pointer;
      color: #fff;
      margin-bottom: 2rem;
    }
  }
}
.link {
  cursor: pointer;
  color: black;
}

.link i {
  color: #fff;
}
.item1 {
  cursor: pointer;
  color: #fff;
  display: block;
  margin-bottom: 1rem;
  transition: all 0.25s linear;
  &:hover {
    color: red;
  }
}
.fa-solid {
  position: relative;
  padding-left: 1rem;
  font-size: 25px;
}
.fa-brands {
  font-size: 25px;
}
@media screen and (max-width: 767px) {
  .footer-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-item1_title {
    font-size: 20px;
  }
  .item1 {
    margin-bottom: 1.5rem;
    font-size: 15px;
  }
}
