.admin {
  background-color: #f7f7ff;
  &-item {
    position: relative;
    &_image img {
      width: 250px;
      height: 400px;
      object-fit: cover;
    }
    &_content {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: nowrap;
     flex-direction: column;
     
    }
  }
}
