.admin {
  padding: 3rem 5rem;
  background-color: #fff;
  &-list {
    // padding: 3rem 0;
    position: relative;
  }
  &-item {
    position: relative;
    &_shadow {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.288);
    }
    &_image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
      }
    }
    &_name {
      width: 200px;
      color: white;
      margin-bottom: 1rem;
      font-size: 20px;
    }
    &_address {
      margin-bottom: 1rem;
    }
    &_button {
      opacity: 0;
      width: 6rem !important;
      height: 2rem !important;
      border-radius: 1rem !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      background-color: #f44336 !important;
      transition: all 0.25s linear;
      a {
        color: white;
      }
    }
    &:hover {
      .admin-item_button {
        opacity: 1;
      }
      .admin-item_content {
        transform: translate(-50%, -50%);
      }
    }
    &_content {
      transition: all 0.25s linear;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
      position: absolute;
      text-align: center;
      z-index: 9;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
    }
  }
}

.slick-track {
  display: flex;
}
.slick-slider {
  overflow: hidden;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
  border: 0 solid #000;
  color: black;
  font-size: 18px;
  &:hover {
    background-color: rgba(255, 0, 0, 0.808);
    color: white;
  }
}
.slick-prev {
  left: 0rem;
}
.slick-next {
  right: 0rem;
}

.slick-dots {
  /* css cục slick */
  display: flex !important;
  align-items: center;
  gap: 0 15px;
  list-style-type: none;
  position: absolute;
  border: 0 solid #000;
  outline: none;
  left: 15px;
  button {
    width: 15px;
    height: 15px;
    background-color: #dde0e4;
    border-radius: 100rem;
    font-size: 0;
    border: 0 solid #000;
    outline: none;
    transition: all 0.25s linear;
  }
}
.slick-active {
  /* css cục slick khi được chọn */
  button {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .admin-item_button {
    width: 19rem !important;
    height: 6rem !important;
  }

  .admin-item_name {
    width: 260px;
    margin-bottom: 3rem;
    font-size: 26px;
  }
  .admin-item_address {
    margin-bottom: 3rem;
    font-size: 25px;
  }
}
