.admin {
  padding: 7rem 0rem;
  background-color: #f7f7ff;
  &-list {
    position: relative;
  }
  &-item {
    position: relative;
    &_shadow {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      background-color: rgba(0, 0, 0, 0.288);
    }
    &_image {
      width: 250px;
      height: 400px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
      }
    }
    &_name {
      width: 200px;
      color: white;
      margin-bottom: 1rem;
      font-size: 20px;
    }
    &_address {
      margin-bottom: 1rem;
    }
    &_button {
      opacity: 0;
      transition: all 0.25s linear;
      a {
        color: white;
      }
    }
    &:hover {
      .admin-item_button {
        opacity: 1;
      }
      .admin-item_content {
        transform: translate(-50%, -50%);
      }
    }
    &_content {
      transition: all 0.25s linear;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
      position: absolute;
      text-align: center;
      z-index: 9;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
    }
  }
}

.slick-track {
  display: flex;
  gap: 0 30px;
  margin-left: -10px;
}
.slick-slide{
    width: 300px !important;
}
.slick-prev, /* css arrow */
.slick-next {
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  top: 50%;
  transform: translateY(50%);
  z-index: 10;
}
.slick-prev {
  border: 2px solid red;
  background-color: transparent;
  left: 0rem;
}
.slick-next {
  background-color: red;
  color: white;
  right: 0;
}
