.categories {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  &-text {
    color: #f44336;
    background-color: #f4433669;
    font-size: 17px;
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  &-title {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 3rem;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 100%;

    &_button {
      border: 0 solid #000;
      outline: none;
      padding: 0.5rem 0.7rem;
      background-color: #fff;
      margin-top: 5px;
      border-radius: 5px;
      transition: all 0.25s linear;
    }
  }
}

.button {
  border: 0 solid #000;
  outline: none;
  width: 2rem;
  padding: 5px 7px;
  border-radius:5px;
  position: absolute;
  top: 75%;
  left: 75%;
transform: translate(-50%,-50%);
}
figure.snip0025 {
  font-family: "Raleway", Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: left;
  border-radius: 8px;
}
figure.snip0025 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0025 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  border-radius: 8px;
}
figure.snip0025 > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.snip0025 > div::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  background-image: linear-gradient(
    45deg,
    #000000 0%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.8)
  );
}
figure.snip0025 h2 {
  word-spacing: -0.1em;
  font-weight: 400;
  top: 0;
  opacity: 0;
  padding: 15px;
  margin: 0;
  position: absolute;
  color: transparent;
  text-shadow: 0 0 10px #ffffff;
  text-align: right;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0025 .curl {
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    225deg,
    #ffffff,
    #f3f3f3 20%,
    #bbbbbb 38%,
    #aaaaaa 44%,
    #888888 50%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.3)
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}
figure.snip0025 .curl:before,
figure.snip0025 .curl:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 12%;
  bottom: 6%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
  transform: skew(-10deg) rotate(-6deg);
}
figure.snip0025 .curl:after {
  left: auto;
  right: 6%;
  bottom: auto;
  top: 14%;
  transform: skew(-15deg) rotate(-84deg);
}
figure.snip0025 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0025:hover > div h2,
figure.snip0025.hover > div h2 {
  opacity: 1;
  text-shadow: 0 0 0px #ffffff;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0025:hover > div::before,
figure.snip0025.hover > div::before {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0025:hover .curl,
figure.snip0025.hover .curl {
  width: 50px;
  height: 50px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
