.categories{
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    &-text{
        color:#f44336;
        background-color: #f4433669;
        font-size: 17px;
        padding: 0.5rem;
        font-weight: 600;
        border-radius:1rem;
        margin-bottom: 1rem;
    }
    &-title{
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 3rem;
    }
    &-button{
        border: 0 solid #000;
        outline: none;
        padding: 0.7rem 1rem;
        background-color: #fff;
    }
    &-list{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 30px;
        width: 100%;
        &_item{
             position: relative;
        }
        &_image img{
            width:210px;
            height:140px;
            object-fit: cover;
            border-radius:1rem;
        }
        &_text{
             font-weight: 600;
             font-size: 16px;
             color: #fff;
        }
    }
}