.comment.active {
  opacity: 1;
  visibility: inherit;
}
.comment {
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
  padding: 5rem 4rem;
  &-item {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: auto;
     transition: all 0.4s linear;
  }
  &-content {
      display: grid;
    grid-auto-rows: auto;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &_image img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
    &_user {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    &_text {
      margin-left: 1rem;
    }
    &_name {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 0.5rem;
    }
    &_address {
      color: #838eb1;
    }
  }
}
.slick-dots {
    left: 50%;
    transform: translateX(-50%);
}
.comment-button{
    margin: 1rem;
    a{
        color:white;
    }
}

.slick-prev, .slick-next {
    display: none !important;
}
@media  screen and (max-width:1023px){
  .comment-item{
    grid-template-columns: repeat(2, 1fr);
  }

}
@media  screen and (max-width:767px){
  .comment-content_name {
    font-size: 10px;
}
.comment-content_desc{
  font-size: 15px;
}

}