.comment {
    padding: 5rem 4rem ;
  &-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &-content {
    &_image img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }
}
