.package{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
.course{
    &-image img{
        width: 270px;
        height: 150px;
    }
}