.package {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

 .course-overlay {
  background:red;
  position: absolute;
  height: 10rem;
  width: 10rem;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.course-image:hover  {
  .course-overlay{

    opacity: 1;
  }
}

.course {
  padding: 0.6rem;
  &-list {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  margin-top: 2rem;
  background-color: #f7f7ff;
  &-item {
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 270px;
  }
  &-image img {
    position: relative;
    width: 100%;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &-content {
    padding: 1rem;
    &_text {
      padding: 0.5px;
      background-color: #eaf4fe;
      padding: 7px;
      color: red;
      border-radius: 1rem;
    }
    &_link {
      margin-top: 1rem;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 600;
      color: black;
    }
    &_author {
      display: inline-block;
      margin-top: 0.8rem;
      color: #838ea1;
    }
    &_price {
      margin-top: 7px;
      display: flex;
      align-items: center;
      font-weight: 600;
    }
    &_discount {
      color: red;
      font-size: 25px;
      margin-right: 10px;
    }
    &_money {
      color: #838ea1;
      position: relative;
      font-size: 18px;
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: #838ea1;
      }
    }
  }
}
