.exam {
  margin-bottom: 5rem;
  padding: 1rem;
  background-color: #eeeeee;
  &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  &-item_image img {
    width: 85px;
    height: 40px;
  }
  &-item2{
      margin-left: 2rem;
      background-color: white ;
  }
  &-item1  .exam-item2{
      background-color: white ;
  }
}
