.exam{
    padding-bottom: 5rem;
    &-list{
        display: flex;
        flex-direction: row;
    }
    &-item {
        &_image img{
            width:85px;
            height:40px;
        }
    }
}