.exam {
  margin-bottom: 5rem;
  justify-content: space-between;
  background-color: #838ea1;
  &-list {
    display: flex;
    flex-direction: row;
  }
  &-item_image img {
    width: 85px;
    height: 40px;
  }
  &-item1{

  }
}
