.exam {
  margin-bottom: 5rem;
  padding: 1rem;
  background-color: #eeeeee;
  &-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-item1,
  .exam-item2 {
    padding: 1rem;
    max-width: 570px;
    background-color: white;
    border-radius:10px;
  }
  &-title{
      display: block;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #ccc;
  }
  &-item_image img {
    width: 85px;
    height: 40px;
  }
}
