.footer {
  padding: 7rem 4rem;
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &-item1 {
    &_title {
      color: #2b3f63;
      margin-bottom: 2rem;
    }
  }
}
.link{
    color:black;
}
.item1 {
  color: #818898;
  display: block;
  margin-bottom: 1rem;
}
.fa-solid{
     position: relative;
    padding-left: 1rem;
    font-size: 25px;
}
.fa-brands{
    font-size: 25px;

}
.fa, .fab, .fad, .fal, .far, .fas {
  display: flex !important;
}
