.text {
  text-align: center;
  color: #f44336;
  background-color: #f4433669;
  font-size: 17px;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.title {
  font-weight: 600;
  font-size: 26px;
}
.button1 {
  padding: 0.7rem 1rem;
  outline: none;
  background-color: #f44336;
  border: 0 solid #000;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s linear;
  &:hover {
    a {
      color: black;
    }
    color: black;
  }
}
@media screen and (max-width: 767px) {
  .button {
    width: 15rem !important;
    padding: 12px !important;
  }
}
@media screen and (max-width: 1279px) {
  .button {
    width: 7rem !important;
    padding: 20px 10px !important;
    font-size: 18px;
    top: 65%;
  }
}
