.wrapper {
}
.text {
  text-align: center;
  color: #f44336;
  background-color: #f4433669;
  font-size: 17px;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.border-app {
  border-radius: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}
.title {
  font-weight: 600;
  font-size: 26px;
}
.button1 {
  padding: 0.7rem 1rem;
  outline: none;
  background-color: #f44336;
  border: 0 solid #000;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s linear;

  &:hover {
    a {
      color: black;
     
    }
    color: black;
  }
}

/* index2 */
.index2-button{
  border: 0 solid #000;
}
@media screen and (max-width: 767px) {
  .button1 {
    width: 20rem;
    height:7rem;
    font-size: 20px;
  }
  .button {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1023px) {
  .snip0025 h2 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 1279px) {
  .button {
    width: 10rem !important;
    padding: 20px 10px !important;
    font-size: 16px !important;
    top: 65% !important;
  }
}
