.header{
    display: flex;
    justify-content: space-between;
    &-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        &_text{
            margin-right: 2rem;
        }
        &_email{
            margin-right: 2rem;
        }
    }
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
