.header{
    display: flex;
    justify-content: space-between;
    &-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        &_text{
            margin-right: 2rem;
            text-transform: uppercase;
        }
        &_email{
            margin-left:0.5rem;
        }
    }
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    &-link{
        margin-left: 1rem;
    }
    &-animation{
        position: absolute;
    }
}
.animation
{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 4px;
  }
  .lds-ripple div {
    position: absolute;
    border: 3px solid red;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.3, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 20px;
      left: 20px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 40px;
      height: 40px;
      opacity: 0;
    }
  }
