.table{
    margin-top: 2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius:1rem;
    &-item{
        background-color: #efefef;
        padding: 1rem;
        &_title{
            cursor: pointer;
            font-weight: 600;

        }
        &_content{
            margin-top: 1rem;
            display: flex;
            font-size: 16px;
            align-items: center;
        }
        &_package{
            color:#7a7066;
            i{
                font-size: 16px;
                margin-left: 2px;
            }
        }
        &_package2{
            i{
                font-size: 16px;
            }
            color:green;
        }
    }
}