.userComment{
    &-list{
        display: flex;
        flex-direction: column;
    }
    &-item1{
        display: flex;
        align-items: center;
    }
    &-item{
        &_image img{
            width:3rem;
            height:3rem;
            border-radius:50%;
        }
    }
}