.support{
    margin-top: 2rem;
    background-color: #fff;
    padding: 2rem 1rem;
    &-image img{
        width:4rem;
        height:4rem;
        object-fit: cover;
        border-radius:50%;
    }
}