.header2 {
  padding: 5px 3rem;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #2196f3, #f44336);
  &-content {
    color: white;
    &_title {
      margin-bottom: 5px;
    }
  }
  &-button {
    color: black;
    font-weight: 600;
    &:hover {
      color: white;
    }
  }
}
@media screen and (max-width: 1023px) {
  .index2-button {
    padding: 5px 1rem;
  }
  
}
