.buying{
    display: flex;
    flex-direction: column;
    &-price{
        margin-bottom: 1re;
    }
    &-price_50{
        display: inline-block;
        margin-left: 1rem;
        color:#f44336;
    }
}