.buying {
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 0.7rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  &-price {
    margin-bottom: 1rem;
  }
  &-price_50 {
    display: inline-block;
    margin-left: 1rem;
    color: #f44336;
  }
  &-information {
    margin-bottom: 1rem;
  }
  &-item {
    display: flex;
    flex-direction: column;
    justify-self: start;
    margin-left: -1rem;
    &_text {
      margin-bottom: 7px;
      i {
        margin-right: 1rem;
        font-size: 15px;
        color:#77c459;
      }
    }
  }
}
