.link-course {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  &_content {
    display: flex;
    align-items: center;
    color: #3e90f7;
    margin-right: 2rem;
     transition: all 0.25s linear;
    i {
      font-size: 17px;
    }
    &:hover {
      a,
      i {
        color: black;
      }
    }
  }
}
.nameCourse {
    padding: 1rem 3rem;
    &-title{
        line-height: 1.6;
        margin-bottom: 1rem;
    }
    &-detail{
        margin-bottom: 1rem;
        color:#7d8993;
        i{
            color:#77c459;
            font-size: 17px;
            margin-right: 4px;
        }
        &_Ma h3{
            color:#77c459;
            display: inline;
        }
    }
    &-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
