.table{
    margin-top: 2rem;
    background-color: #fff;
    padding: 1rem;
    &-item{
        background-color: #efefef;
        padding: 1rem;
        &_title{
            font-weight: 600;

        }
    }
}