.customer{
    &-buy{
        display: flex;
        align-items: center;
        background-color: #e74c3c;
        padding: 7px;
        i{
            margin-right: 1rem;
            color:#f1c40f;
        }
    }
}