.author{
    padding: 1rem 3rem;
    &-name{
        font-weight: 600;
        font-size: 23px;
    }
    &-information{
        &_image img{
            width:3rem;
            height:3rem;
            object-fit: cover;
            border-radius:50%;
        }
    }
}