.customer{
    margin-top: 2rem;
    &-buy{
        display: flex;
        align-items: center;
        background-color: #e74c3c;
        padding: 7px;
        border-top-right-radius:7px;
        border-top-left-radius:7px;
        i{
            margin-right: 1rem;
            color:#f1c40f;
        }
    }
}