.header{
    padding: 5px 2rem;
    background-image: linear-gradient(to right, #2196f3,#f44336);
    &-content{
        color:white;
        &_title{
            margin-bottom: 5px;
        }
    }
    &-button{
        color:black;
        font-weight: 600;
        &:hover{
            color:white;
        }
    }
}