.customer {
  margin-top: 2rem;
  &-buy {
    display: flex;
    padding: 7px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    background-color: #e74c3c;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    i {
      margin-right: 1rem;
      color: #f1c40f;
    }
  }
  &-list {
    border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #fff;
    padding: 7px;
    i {
      font-size: 16px;
    }
    p {
      display: inline-block;
    }
  }
  &-item {
    margin-bottom: 10px;
  }
}
