.author{
    padding: 1rem 3rem;
    &-name{
        font-weight: 600;
        font-size: 23px;
    }
    &-information{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        &_image img{
            width:3rem;
            height:3rem;
            object-fit: cover;
            border-radius:50%;
        }
        &_content{
            margin-left: 7px;
        }
        &_name{
            font-size: 16px;
            margin-bottom: 5px;
        }
        &_link {
            color: #3e90f7;
        }
    }
    &-desc{
        &_text {
            color:#677480;
            margin-bottom: 1rem;
        }
    }
}