.member{
    &-list{
        display: grid;
        grid-template-columns: repeat(4,1fr)
    }
    &-item{
        &_image img{
            width:5rem;
            height:5rem;
            border-radius:50%;
            object-fit: cover;
        }
    }
}