.registration.active {
  opacity: 1;
  visibility: inherit;
}
.registration {
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.3s;
  padding: 1rem 5rem;
  background-color: #fff;
  &-list {
    padding: 2rem 0;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &-item {
    cursor: pointer;
    width: 100%;
    padding: 4rem 3rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 1rem;
    transition: all 0.3s linear;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    &_icon {
      font-size: 25px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-right: 1rem;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      margin-bottom: 2rem;
    }
    &_title {
      font-size: 25px;
      color: #233d63;
      margin-bottom: 2rem;
      text-align: center;
    }
    &_desc {
      text-align: center;
      color: #61748f;
      font-size: 18px;
    }
    &:hover {
      background-color: #f44336dc;
      .registration-item_title,
      .registration-item_desc {
        color: white;
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .registration-list {
    grid-template-columns: 1fr;
  }
  .registration-item_title {
    font-size: 35px;
  }
  .registration-item_icon {
    font-size: 40px;
    width: 7rem;
    height: 7rem;
  }
  .registration-item_desc {
    font-size: 23px;
  }
}
