.registration{
    padding-bottom: 4rem;
    background-color: #f7f7ff;
    &-list{
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
    &-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;

    }
}
