.registration{
    padding-bottom: 4rem;
    background-color: #f7f7ff;
    &-list{
        padding-top: 2rem;
      
    }
    &-item{
        background-color: #fff;
        padding: 2rem;
      
        &_icon{
            width:5rem;
            height:5rem;
            background-color: red;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }

    }
}
