@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
 body {
	 margin: 0;
}
 .slider-container {
    padding: 12rem;
	 position: relative;
	 height: 50vh;
	 font-family: Lora, serif;
	 color: white;
}
 .slider-container h1 {
	 margin: 0;
	 font-size: 250%;
	 font-weight: 700;
	 letter-spacing: 0.2em;
	 text-shadow: 0 2px 2px black;
}
 .slider-container h3 {
	 margin: 0;
	 letter-spacing: 0.2em;
	 text-shadow: 0 2px 2px black;
}
 .slider-container .page-title {
	 position: absolute;
	 left: 4em;
	 top: 2em;
	 z-index: 1;
}
 .slider-container .slideshow {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
}
 .slider-container .slideshow .slide {
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: -1;
	 width: 100%;
	 height: 100%;
}
 .slider-container .slideshow .slide:first-child {
	 z-index: 0;
}
 .slider-container .slideshow .slide:nth-child(1) {
	 background: url('https://res.cloudinary.com/tuanpham/image/upload/v1646235131/oikmcjnrex1xzrsupca2.jpg') no-repeat center center/ cover;
}
 .slider-container .slideshow .slide:nth-child(2) {
	 background: url('https://res.cloudinary.com/tuanpham/image/upload/v1646233276/waqj4ypw6faxttqk41pj.png') no-repeat center center/ cover;
}
 .slider-container .slideshow .slide:nth-child(3) {
	 background: url('https://i.loli.net/2020/01/06/hJnwRiWvgCcXoAr.png') no-repeat center center/ cover;
}
 .slider-container .slideshow .slide:nth-child(4) {
	 background: url('https://i.loli.net/2019/11/03/RtVq2wxQYySDb8L.jpg') no-repeat center center/ cover;
}
 .slider-container .slideshow .slide:nth-child(5) {
	 background: url('https://i.loli.net/2020/01/06/OF6PzWyrwM31ldi.jpg') no-repeat center center/ cover;
}
 .slider-container .slideshow .slide .slide-title {
	 position: absolute;
	 top: 40vh;
	 left: 2em;
}
 .slider-container .bars {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 display: flex;
}
 .slider-container .bars .bar {
	 flex: 1;
	 background: #111;
	 transform: scaleY(0);
	 transform-origin: top;
}
 .slider-container .nav-dots {
	 position: absolute;
	 left: 2em;
	 bottom: 4em;
	 z-index: 1;
	 display: flex;
	 margin: 0;
	 list-style-type: none;
}
 .slider-container .nav-dots .dot {
	 width: 1em;
	 height: 1em;
	 margin: 1em;
}
 .slider-container .nav-dots .dot a {
	 position: relative;
	 display: block;
	 height: 1em;
	 line-height: 1em;
}
 .slider-container .nav-dots .dot a::before {
	 position: absolute;
	 content: "";
	 width: 100%;
	 height: 100%;
	 background: black;;
	 border-radius: 50%;
}
 .slider-container .nav-dots .dot a:hover::before {
	 background: red;
}
 .slider-container .nav-dots .dot a.active::before {
	 background: red;
}
 