@import "reset";
@import "globe";

@import "header";
@import "user";
@import "slider";
@import "categories";
@import "course";
@import "exam";
@import "registration";
@import "member";
@import "admin";

