@import "reset";
@import "globe";

@import "header";
@import "user";
@import "slider";
@import "categories";
@import "course";
@import "exam";
@import "registration";
@import "member";
@import "admin";
@import "comment";

@import "index2-header";
@import "index2-nameCourse";
@import "index2-author";
@import "index2-detailCourse";
@import "index2-buying";
@import "index2-customer";
@import "index2-support";
@import "index2-table";

@import "footer";

